In [1]:
(1,4,9,16,25)

(1, 4, 9, 16, 25)

In [2]:
(36,)

(36,)

In [3]:
tuple_square2 = 1,4,9,16,25
tuple_square2

(1, 4, 9, 16, 25)

In [5]:
a,b,c,d,e = tuple_square2
a,b,c,d,e

(1, 4, 9, 16, 25)

In [7]:
tuple_square2[1]

4

In [8]:
tuple_square2[2:5]

(9, 16, 25)

In [9]:
tuple_square2 = (1,4,9,16.25)
print(tuple_square2)
tuple_square2 = (1,4,9,16,25,36,49)
print(tuple_square2)

(1, 4, 9, 16.25)
(1, 4, 9, 16, 25, 36, 49)

In [12]:
del tuple_square2
tuple_square2

NameError: name 'tuple_square' is not defined

In [13]:
a,b,c,d,e = ('Sappro','Sendai','Tokyo','Nagoya','Osaka')
g = d + e
g

'NagoyaOsaka'

In [15]:
a,b,c,d,e = (1,2,3,4,5)
d + e

9

In [16]:
(1,2,3,4,5) + (1,2,3,4,5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [17]:
tp1 = (1,2,3,4,5)
tp2 = (1,2,3,4,5)
[x + y for (x,y) in zip(tp1,tp2)]

[2, 4, 6, 8, 10]

In [18]:
def tpadd(x,y):
    return x + y
list(map(tpadd,tp1,tp2))

[2, 4, 6, 8, 10]

In [19]:
(1,2,3,4,5) * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [20]:
bigcity_of_japan = {'Sappro','Sendai','Tokyo','Nagoya','Osaka','Fukusima'}
bigcity_of_japan

{'Fukusima', 'Nagoya', 'Osaka', 'Sappro', 'Sendai', 'Tokyo'}

In [21]:
set_a = set('ABCDEF')
set_a

{'A', 'B', 'C', 'D', 'E', 'F'}

In [22]:
set_a.add('G')
set_a

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [23]:
set_a.remove('G')
set_a

{'A', 'B', 'C', 'D', 'E', 'F'}

In [24]:
x = 'K'
set_a.remove(x)

KeyError: 'K'

In [25]:
x = 'K'
set_a.remove(x) if x in set_a else print(x,'is not found')

K is not found

In [26]:
x = 'K'
set_a.discard(x)

In [27]:
set_a.pop

In [28]:
set_a.pop()

'E'

In [29]:
set_a

{'A', 'B', 'C', 'D', 'F'}

In [30]:
set_a.clear()
set_a

set()

In [32]:
prime = {2,3,5,7,11,13}
prime_square = {x**2 for  x in prime}
prime_square

{4, 9, 25, 49, 121, 169}

In [33]:
{{j%i for j in range(1,10)} for i in range(1,10)}

TypeError: unhashable type: 'set'

In [34]:
a = {x for x in 'abcabcabc' if x not in 'ab'}
a

{'c'}

In [36]:
A = {x for x in range(21) if x % 2 == 1}
print(A)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}